*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: "Open sans","Arial",sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #444;
    background-color: #fff;
}
html{
    scroll-behavior: smooth;
}
.container{
    width: 100%;
    max-width: 1160px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}
.site-header{
    padding-top: 24px;
    padding-bottom: 24px;
}
.site-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-logo{
    display: flex;
    text-decoration: none;
    align-items: center;
    color:#222;
    font-size: 24px;
    font-weight: 600;
}
.site-logo:hover{
    color:#DE2E54;
}
.site-logo:active{
    opacity: 0.6;
}
.site-logo_img{
    margin-right: 16px;
    border-radius: 50%;
}
.sitenav{
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.sitenav-list{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}
.sitenav-item:not(:last-child){
    margin-right: 32px;
}
.sitenav-link {
    display: block;
    color:#222;
    text-decoration: none;
}
.sitenav-link:hover{
    color: #DE2E54;
}
.sitenav-link:active{
    opacity: 0.6;
}
.main_link{
    display:inline-block;
    padding: 10px 22px;
    background-color:#DE2E54;
    font-family: "Open Sans Condensed","Arial",sans-serif;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    border-radius: 8px;
    border: 2px solid #DE2E54;
    transition: all 4ms;
}
.main_link:hover{
    background-color:#fff;
    border-color: #DE2E54;
    color:#DE2E54;
}
.main_link:active{
    background-color:#DE2E54;
    color:#fff;
    opacity: 0.6;
}
.site-footer{
    padding-top: 24px;
    padding-bottom: 24px;
    background-color:#222;
    color:#fff;
}
.site-footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-logo-site-footer{
    color:#fff;
}
.site-logo-site-footer:active{
    color: #fff;
}
.sitenav-site-footer .sitenav-link{
    color:#fff;
}
.sitenav-site-footer .sitenav-link:hover{
    color: #DE2E54  ;
}
.sitenav-site-footer .sitenav-link:active{
    color: #fff;
}
.hero {
    background-color:#0EB4C1;
    color: #fff;
}
.hero-content{
    width: 500px;
    padding-top: 120px;
    padding-bottom: 120px;
}
.hero-heading{
    margin-top: 0;
    font-family: "Open Sans Condensed","Open Sans","Arial",sans-serif;
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 16px;
}
.hero-text{
    width: 440px;
    margin-top: 0;
    margin-bottom: 36px;
}
.hero-container{
    display: flex;
    justify-content: space-between;
}
.hero-img{
    align-self: flex-end;
}
.index-services{
    padding-top: 120px;
    padding-bottom: 120px;
}
.index-services-heading{
    text-align: center;
    font-family: "Open Sans Condensed","Arial",sans-serif;
    font-size: 36px;
    line-height: 1.2;
    color:#000;
    margin-bottom: 56px;
}
.index-services-list{
    width: 854px;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}
.index-services-item:not(:last-child){
    margin-bottom: 80px ;
}
.index-service{
    display: flex;
    align-items:center;
}
.index-service-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 64px;
}
.index-service-content{
    width: 600px;
}
.index-service-title{
    margin-top: 0;
    margin-bottom: 24px;
    color: #222;
}
.index-service-description{
    color:#444;
    margin: 0;
}
.index-services-actions{
    display: flex;
    justify-content: center;
}
.cta{
    padding-top: 64px;
    padding-bottom: 64px;
    background-color:#0EB4C1;
    color: #fff;
}
.cta-heading{
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 1.2;
    font-family:  "Open Sans Condensed","Arial",sans-serif;;
}
.cta-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta-links-item:not(:last-child){
    margin-right: 40px;
}
.main_outline{
    background-color:transparent;
    color:#fff;
    border-color:#fff;
}
.main_outline:hover{
    background-color: #DE2E54;
    color: #fff;
    border-color:transparent;
}